apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "host": "https://adb-11111111111.11.azuredatabricks.net",
      "token": "dapi1111111111111111111111f42-1"
      "auth_type": "pat"
    }
